.category-container {
    display: flex;
    gap: 10px;

    overflow-x: auto;

    padding: 20px 0 5px;

    scrollbar-width: none;
}

.category-container::-webkit-scrollbar {
    display: none;
}

.category-button {
    white-space: nowrap;

    border: 1px solid #ded8cf;
    background: white;

    color: #667085;

    padding: 9px 17px;
    border-radius: 30px;

    font-size: 14px;
    font-weight: 600;

    transition: 0.2s;
}

.category-button:hover {
    border-color: #a66a32;
    color: #a66a32;
}

.category-button.active {
    background: #a66a32;
    border-color: #a66a32;
    color: white;
}